.section-coffee{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: var(--fundo);
  padding: 20px;
}

.cards-content{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-coffee h3{
  color: var(--marrom-claro);
  font-size: 23px;
  font-weight: 400;
  border-bottom: 3px solid var(--marrom-escuro);
}

@media screen and (max-width: 1024px){
  .cards-content{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px){
  .cards-content{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
