.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
}

.header h1{
  font-style: italic;
  color: #A0583C;
}

.menu{
  margin-left: 150px;
}

.menu a{
  padding: 0 25px; 
  color: #A0583C;
}

.btn {
  margin-right: 10px;
}

@media screen and (max-width: 1024px){
  .header h1{
    font-size: 30px;
  }

  .menu a{
    margin-right: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px){
  .header{
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .menu{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .btn{
    display: none;
  }
}

@media screen and (max-width: 600px){
  .menu a{
    margin: 0;
    padding: 0 12px;
  }

  .menu{
    margin: 5px;
  }
}